/* Typograhy */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.6rem;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-weight: 700;
  margin-top: 1rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3,
p {
  font-size: 1.4rem;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  h3,
  p {
    font-size: 1.8rem;
  }
}

/* Article */
.article {
  display: grid;
  margin-top: 5vh;
}

.article__description {
  width: 35ch;
}

@media screen and (min-width: 768px) {
  .article {
    grid-template-columns: 1fr 1fr;
  }
}

/* Profile */
.profile {
  display: flex;
}

.profile__picture {
  width: 100%;
  max-width: 140px;
  margin: 0 0.5rem 1rem 0;
}

.profile__job {
  margin: 0;
  font-size: 1rem;
  font-family: "PT Serif", "Times New Roman", Times, serif;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

.profile__name {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .profile__picture {
    max-width: 240px;
  }

  .profile__job {
    font-size: 1.2rem;
  }
}

/* Team Board */

