/* Typograhy */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-size: 3.6rem;
  font-weight: 700;
  margin-top: 1rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3,
p {
  font-size: 1.4rem;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  h3,
  p {
    font-size: 1.8rem;
  }
}

/* Article */
.article {
  display: grid;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.article__description {
  width: 35ch;
}

@media screen and (min-width: 768px) {
  .article {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 9rem;
  }
}

/* Profile */
.profile {
  display: flex;
}

.profile__picture {
  margin: 0 0.5rem 1rem 0;
  max-width: 140px;
  width: 100%;
}

.profile__job {
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

.profile__name {
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .profile__picture {
    max-width: 230px;
  }

  .profile__job {
    font-size: 1.2rem;
  }
}

/* Team Board */
.team__board {
  display: grid;
  gap: 6.4rem 4rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8rem;
}

.profile:nth-of-type(2n) {
  transform: translate(0, 4rem);
}

@media screen and (min-width: 768px) {
  .team__board {
    gap: 13rem 4rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 17rem;
  }

  .profile:nth-of-type(2n) {
    transform: translate(0, 0);
  }

  .profile:nth-of-type(3n-1) {
    transform: translate(0, 10rem);
  }
}

/* Website owner */
.website-owner {
  color: #a9a9a9;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.website-owner a {
  color: #a9a9a9;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .website-owner {
    margin-bottom: 2rem;
  }
}

/* Page container */
.container {
  margin: 0 auto;
  max-width: max-content;
  padding: 0.5rem;
}
