<div class="team__board">
    <div class="profile">
      <header>
        <img class="profile__picture" src="images/photo1.png" alt="" />
        <h3 class="profile__name">Bill Mahoney</h3>
      </header>
      <p class="profile__job">Product owner</p>
    </div>
    <div class="profile">
      <header>
        <img class="profile__picture" src="images/photo2.png" alt="" />
        <h3 class="profile__name">Saba Cabrera</h3>
      </header>
      <p class="profile__job">Art director</p>
    </div>
    <div class="profile">
      <header>
        <img class="profile__picture" src="images/photo3.png" alt="" />
        <h3 class="profile__name">Shae Le</h3>
      </header>
      <p class="profile__job">Tech Lead</p>
    </div>
    <div class="profile">
      <header>
        <img class="profile__picture" src="images/photo4.png" alt="" />
        <h3 class="profile__name">Skylah Lu</h3>
      </header>
      <p class="profile__job">UX Designer</p>
    </div>
    <div class="profile">
      <header>
        <img class="profile__picture" src="images/photo5.png" alt="" />
        <h3 class="profile__name">Griff Richards</h3>
      </header>
      <p class="profile__job">Developer</p>
    </div>
    <div class="profile">
      <header>
        <img class="profile__picture" src="images/photo6.png" alt="" />
        <h3 class="profile__name">Stan John</h3>
      </header>
      <p class="profile__job">Developer</p>
    </div>
  </div>